
@import "tailwindcss";


@font-face {
  font-family: "sp-regular";
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "sp-bold";
  src: url(/fonts/SFPRODISPLAYBOLD.OTF) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "quicksand";
  src: url(/fonts/Quicksand-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "sugarpeachy";
  src: url(/fonts/SugarPeachy.otf) format("opentype");
}
.quicksand {
  font-family: "quicksand", sans-serif;
}
.sp-regular {
  font-family: "sp-regular", sans-serif;
}
.sp-bodl {
  font-family: "sp-bold", sans-serif;
}
.sugarpeachy {
  font-family: "sugarpeachy", sans-serif;
}


body {
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: "sp-bold", sans-serif;
}
p, a, li, button {
  font-family: "quicksand", sans-serif;
}



/* MARQUEE STYLES */
.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 100%;
  background: url(/img/marquee-img.jpg) no-repeat center center;
  background-size: cover;;
  align-items: center;
  height: 3rem;
}

.marquee__content {
  display: flex;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 45s linear infinite;
}

.marquee__content li {
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-size: 1rem; 
  font-family: sp-bold;
}
  
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* INDEX STYLES */
  .neg-5 {
    letter-spacing: -0.05em;
  }

    /*CTA STYLES */
  @keyframes pulse-scale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  @keyframes pulse-scale-reverse{
    0%, 100% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
  }


  /*FOOTER STYLES*/