
@import "tailwindcss";


@font-face {
  font-family: "sp-regular";
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "sp-bold";
  src: url(/fonts/SFPRODISPLAYBOLD.OTF) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "quicksand";
  src: url(/fonts/Quicksand_Book.otf) format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "sugarpeachy";
  src: url(/fonts/SugarPeachy.otf) format("opentype");
}
.quicksand {
  font-family: "quicksand", sans-serif;
}
.sp-regular {
  font-family: "sp-regular", sans-serif;
}
.sp-bodl {
  font-family: "sp-bold", sans-serif;
}
.sugarpeachy {
  font-family: "sugarpeachy", sans-serif;
}


*{
  padding: 0;
  margin: 0;
}

body {
  background: #F2E2B1;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: "sp-bold", sans-serif;
}
p, a, li, button {
  font-family: "quicksand", sans-serif;
}



.container{
  max-width: 1100px;
  padding: 20px;
}
